<p id="notice"><%= notice %></p>

<h1>Listing Event Pricings</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @event_pricings.each do |event_pricing| %>
      <tr>
        <td><%= link_to 'Show', event_pricing %></td>
        <td><%= link_to 'Edit', edit_event_pricing_path(event_pricing) %></td>
        <td><%= link_to 'Destroy', event_pricing, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Event pricing', new_event_pricing_path %>
